<section>
    <h2>Step 1</h2>
    <form formGroupName="credentials" (submit)="submitCredentials()">
        <label for="login">Login</label>
        <input 
            id="login" 
            type="email" 
            placeholder="email@gmail.com" 
            formControlName="login" 
            required/>
        <br>
        <small *ngIf="login?.hasError('email') || login?.hasError('required')">Login must be a valid email</small>
        <br>

        <label for="password">Password</label>
        <input 
        id="password" 
        type="password" 
        placeholder="******" 
        formControlName="password" 
        required/>
        <br>
        <small *ngIf="password?.hasError('required') || password?.hasError('passwordStrength')">
            Password must contain at least one digit and one letter
        </small>
        <br>

        <label for="password2">Confirm password</label>
        <input id="password2" 
            type="password" 
            placeholder="******" 
            formControlName="password2" 
            required/>
        <br>
        <small *ngIf="credentials?.hasError('passwordMismatch')">
            Confirm password must be the same with password
        </small>
        <br/>

        <label for="reward-agreement">Agree to work for food</label>
        <input 
            id="reward-agreement" 
            type="checkbox"
            formControlName="rewardAgreement"  
            required/>
        <br/>
        <small *ngIf="rewardAgreement?.hasError('required')">
            You must agree to work for food to proceed
        </small>
        <br/>

        <button type="submit" [disabled]="!credentials?.valid">Next</button>
    </form>
</section>