<section>
    <h2>Step 1</h2>
    <form formGroupName="credentials" (submit)="submitCredentials()">
        <label for="login">Login</label>
        <input 
            id="login" 
            type="email" 
            placeholder="email@gmail.com" 
            formControlName="login" 
            required/>
        <br>
        <app-field-error 
            [displayError]="isFieldInvalid('login')" 
            errorMsg="Login must be a valid email"/>
        <br>

        <label for="password">Password</label>
        <input 
        id="password" 
        type="password" 
        placeholder="******" 
        formControlName="password" 
        required/>
        <br>
        <app-field-error 
            [displayError]="isFieldInvalid('password')" 
            errorMsg="Password must contain at least one digit and one letter"/>
        <br>

        <label for="password2">Confirm password</label>
        <input id="password2" 
            type="password" 
            placeholder="******" 
            formControlName="password2" 
            required/>
        <br>
        <app-field-error 
            [displayError]="isPasswordMismatched()" 
            errorMsg="Confirm password must be the same with password"/>
        <br/>

        <label for="reward-agreement">Agree to work for food</label>
        <input 
            id="reward-agreement" 
            type="checkbox"
            formControlName="rewardAgreement"  
            required/>
        <br/>
        <app-field-error 
            [displayError]="isFieldInvalid('rewardAgreement')" 
            errorMsg="You must agree to work for food to proceed"/>
        <br/>

        <button type="submit">Next</button>
    </form>
</section>